$btn-color: #d00000;

$envelope-color: #cccccc;
$envelope-color2: darken($envelope-color, 3%);
$envelope-color-flap: darken($envelope-color, 20%);
$envelope-color-bg: lighten($envelope-color, 48%);
$envelope-color-heart: #d00000;

$envelope-border-radius: 6px;
$envelope-width: 320px;
$envelope-height: 205.714px;
