.pointBackdrop {
    @apply bg-black bg-opacity-70 hover:bg-opacity-50 transition-all absolute w-full h-full top-0 left-0 flex items-center justify-start text-white font-eczar text-6xl px-4;
}

.pointBackdrop > div {
    @apply ml-10 transition-all;
}

.pointBackdrop:hover > div {
    @apply ml-20;
}

.hotspot,
.hotspots {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 10;
}

.hotspot {
    pointer-events: all;
}

.hotspots {
    height: 100%;
    width: 100%;
}
